.cabecalho {
    background-image: url("../assets/imgs/Banner\ Home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
} 